p {
    color: #232830;
}

h1 {
    font-size: 1.8rem;
}

p, a {
    font-size: 1.4rem;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
    counter-reset: game;
}

img,
svg {
    width: 100%;
}

body {
    counter-reset: game;
}

input:checked {
    counter-increment: game;
}

.total-count::after {
    content: counter(game);
}