@import "./components/global/global";
@import "./components/global/count";
@import "./components/global/mountains";
@import "./components/global/cloud";
@import "./components/global/bush";


.phone {
    display: grid;
    grid-template-rows: min-content;
    justify-items: center;
    position: relative;
    width: 35rem;
    height: 65rem;
    border: 0.8rem solid $black;
    border-radius: 4rem;
    background: $hospital-blue;
    box-shadow: 0 1.9rem 3.8rem rgba(0, 0, 0, 0.3), 0 1.5rem 3.2rem rgba(0, 0, 0, 0.22);
}

.score-section {
    margin-block-start: 4rem;
    text-align: center;
}

.layer-1 {
    position: absolute;
    top: 18.4rem;
    right: 6rem;
    z-index: 1;
    width: 9rem;
    animation: chems1Animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes chems1Animation {
    0% {
        top: 18.4rem;
    }

    25% {
        top: 24rem;
    }

    100% {
        top: 18.4rem;
    }
}

.layer-2 {
    position: absolute;
    top: 18.4rem;
    left: 4.2rem;
    z-index: 2;
    width: 9rem;
}

.layer-3 {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 25rem;
    height: 40rem;
    margin: 0 auto;
}

.layer-4 {
    position: absolute;
    top: 28.4rem;
    left: 2rem;
    z-index: 4;
    width: 9rem;
}

.layer-5 {
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 20rem;
    height: 30rem;
    margin: 0 auto;

    .grass,
    .zigzag,
    .ground {
        width: 20rem;
    }

    .ground {
        height: 26.5rem;
    }
}

.layer-6 {
    bottom: 14.5rem;
    right: 3.5rem;
    position: absolute;
    z-index: 6;
    width: 9rem;
}

.layer-7 {
    bottom: 0;
    right: 0;
    z-index: 7;
    width: 15rem;
    height: 20rem;
    margin: 0 auto;

    .grass,
    .zigzag,
    .ground {
        width: 15rem;
    }

    .ground {
        height: 16.5rem;
    }
}

.layer-8 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

.layer-9 {
    position: absolute;
    right: 0.9rem;
    bottom: 0.8rem;
    z-index: 9;
    margin: 0 auto;
    border-bottom-right-radius: 3rem;
    transform: scale(1.2);
    // background-color: $white;
}

.layer-10 {
    position: absolute;
    bottom: 0.8rem;
    left: 0.9rem;
    z-index: 10;
    margin: 0 auto;
    transform: scale(1.2) rotateY(180deg);
}