@import "./colors";
@import "./typography";
@import "./mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    font-family: $font-primary;
    font-size: 1.6rem;
    counter-reset: game;
}

img,
svg {
    width: 100%;
}