extend ./components/global/_global.pug
block head 
    //- +style-head("")
    //- +style-head-responsive("", "")
    //- +style-animations("") 
    +favicon("https://static.platzi.com/media/achievements/badges-animacion-css-02-740b1ebd-dbcf-4cfc-befb-5988cc6b03d0.png", "png")
    +titles("Animationland")
block main 
    main.main