
extend ./components/global/_global.pug
block head 
    +style-head("style.css")
    //- +style-head-responsive("", "")
    //- +style-animations("") 
    +favicon("https://static.platzi.com/media/achievements/badges-animacion-css-02-740b1ebd-dbcf-4cfc-befb-5988cc6b03d0.png", "png")
    +titles("Animationland")
block main 
    -var chems = "../assets/images/Chems.png"
    main.main
        section.phone
            .layer-1
                input(type="checkbox")
                figure 
                    img(src= chems, alt="")
            //- chems 1
            //- chems 2
            .layer-2
                input(type="checkbox")
                figure 
                    img(src= chems, alt="")
            .layer-3.mountains 
                .grass 
                .zigzag 
                .ground
            .layer-4 
                //- chems 3
                input(type="checkbox")
                figure 
                    img(src= chems, alt="")
            .layer-5.mountains 
                .grass 
                .zigzag 
                .ground
            //- chems 4
            .layer-6 
                input(type="checkbox")
                figure 
                    img(src= chems, alt="")
            .layer-7.mountains
                .grass 
                .zigzag 
                .ground
            .layer-8 
                .bush-1
                .bush-2
                .bush-3
                .bush-4
            .layer-9
                .cloud
                    .cloud-sub3
                    .cloud-sub2
                    .cloud-sub1
            .layer-10 
                .cloud
                    .cloud-sub3
                    .cloud-sub2
                    .cloud-sub1
            .score-section
                h1.title Animationland
                h3.total-count Score: 
            