extend ./components/global/_global.pug
block head 
    +style-head("style.css")
    //- +style-head-responsive("", "")
    //- +style-animations("") 
    +favicon("https://static.platzi.com/media/achievements/badges-animacion-css-02-740b1ebd-dbcf-4cfc-befb-5988cc6b03d0.png", "png")
    +titles("Animationland")
block main 
    main.main
        section.phone 
            .layer-1 
            .layer-2 
            .layer-3 
            .layer-4 
            .layer-5 
            .layer-6 
            .layer-7 
            .layer-8 
            .layer-9 
            .layer-10 
        ul 
            each counter in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                +shield=counter
        h3.total-count Score: 